<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goinggolfpro.goinggolfpro" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PracticeSessionListActivity"
            android:label="@string/title_activity_practice"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goinggolfpro.goinggolfpro.HomeActivity" />
        </activity>
        <activity
            android:name=".PracticeSessionActivity"
            android:label="@string/title_activity_practice_session"
            android:parentActivityName=".PracticeSessionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goinggolfpro.goinggolfpro.PracticeSessionListActivity" />
        </activity>
    </application>

</manifest>
